certifi==2018.8.13
chardet==3.0.4
click==6.7
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsonpickle==0.9.6
lxml==4.2.4
MarkupSafe==1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
mysql-connector-python==8.0.12
numpy==1.15.0
pbr==4.2.0
pdfminer.six==20170720
plac==0.9.6
preshed==1.0.1
protobuf==3.6.1
pycryptodome==3.6.5
python-docx==0.8.6
regex==2017.4.5
requests==2.19.1
six==1.11.0
spacy==2.0.12
stevedore==1.29.0
thinc==6.10.3
toolz==0.9.0
tqdm==4.25.0
ujson==1.35
urllib3==1.26.5
virtualenv-clone==0.3.0
Werkzeug==0.14.1
wrapt==1.10.11
